<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/jquery.sidr.dark.css">

    <title>Stories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class='header'>
      <div class='header-links text-center'>
	       <%= link_to "Home", "home" %>
         <%= link_to "Learn More", "about" %>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <footer>
    <div class='footer'>
      <div class='col-12 text-center footer-text'>
        Hi, I'm the footer
      </div>
    </div>
  </footer>
</html>
